:root{
	--mainclr: #239f85;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body{
	min-height: 50vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	background:'';
	background-size: cover;
	background-position: center;
	position: relative;
}
.body::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
section{
	
	z-index: 3;
	padding-top: 30px;
	padding-bottom: 50px;
}
.container{
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}
.section-header{
	margin-bottom: 50px;
	text-align: center;
}
.section-header h2{
	color: rgb(17, 17, 17);
	font-weight: bold;
	font-size: 3em;
	margin-bottom: 20px;
}
.section-header p{
	color: rgb(13, 12, 12);
}
.raw{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.contact-info-item{
	display: flex;
	margin-bottom: 30px;
}
.contact-info-icon{
	height: 70px;
	width: 70px;
	background-color: white;
	text-align: center;
	border-radius: 50%;
}
.contact-info-icon i{
	font-size: 30px;
	line-height: 70px;
}
.contact-info-content{
	margin-left: 20px;
}
.contact-info-content h4{
	color:var(--secclr);
	font-size: 1.4em;
	margin-bottom: 5px;
}
.contact-info-content p{
	color: #333;
	font-size: 1em;
}
.contact-from{
	background-color: white;
	padding: 40px;
	width: 45%;
	padding-bottom: 20px;
	padding-top: 20px;
}
.contact-from h2{
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 10px;
	color: #333;
}
.contact-from .input-box{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contact-from .input-box input,
.contact-from .input-box textarea{
	width: 100%;
	padding: 5px 5px;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.contact-from .input-box span{
	position: relative;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.contact-from.input-box input:focus ~ span,
.contact-from.input-boxtextarea:focus ~ span{
	color: #e91e63;
	font-size: 12px;
	transform: translate(-20px);
}
.contact-from .input-box input[type="submit"] {
	width: 100%;
	background: #000000;
	color: white;
	border: none;
	cursor: pointer;
	padding: 10px;
	border: none;
	font-size: 18px;
	border: none;
	border: 1px solid #00bcd4;
	transition: 0.5s;
}
.contact-from.input-box input[type="submit"]:hover {
	background: rgb(150, 33, 33);
	color: #00bcd4;
}