*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.timline-section{
	background-color: #24292d;
	min-height: 100vh;
	padding: 100px 15px;
}
.timline-items{
	max-width: 1000px;
	background-color: red;
	margin: auto;
}