@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

*,*::after,*::before{
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	font-weight: 400;
}
html{
	scroll-behavior: smooth;
}
body{
	--cl---1--:#ffffff;
	--cl---2--:#636262;
	--cl---3--:linear-ggradient(90.17deg,#4ac7b3, 0.15%, #2dabeb 99.87%);
	--cl---4--: #000000;
	--cl---5--:#f6f9fe;
	background: var(--cl---1);
	margin: 0;
}
img{
	max-width: 100%;
	width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0;
}
a{
	display: inline-block;
	text-decoration: none;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.row{
	display: flex;
}
.flex{
	align-items: center;
	flex-wrap: wrap;
	gap: clamp(2em, 5vw, 5em);
}
.flex>*{
	flex: 1 1 25em;
}
.column {
	display: grid;
}
.header{
	max-width: 90%;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	gap: 2em;
	padding: 2em 0;
}
nav ul{
	align-items: center;
	gap: 2em;	
}
nav a{
	font-size: 16px;
	color:var(--cl---2--)
}
nav a:hover{
	color: #4ac7b3;
}
.toggleContact.c-active::after {
	content: "";
	position: fixed;
	top: 5%;
	right: 5%;
	background-image: url(/images/dentalpic/backgrounddental.avif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	width: 20px;
	height: 20px;
	z-index: 10;
}
.contactMenu{
	position: absolute;
	inset: 0;
	margin: auto;
	min-height: 0;
	opacity: 0;
	background: rgba(0, 0, 0, 0.3);
	padding: 4em 0;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
}
.contactMenu.c-active {
	position: fixed;
	min-height: 100vh;
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	z-index: 9;
}
.contactMenu-content {
	background: linear-gradient(90deg, #ffffff 0%, rgba(255,255,255,0.71) 44.4%, rgba(255,255,255,0) 60.46%), url(/images/dentalpic/backgrounddental.avif);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	padding: 2em;
	box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
	overflow-y: scroll;
	border-radius: 20px;
	-webkit-border-raduis: 20px
	-moz-border-raduis:
}
