:root {
	--mainclr: #4169E1;
	--secclr: #50C878;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	transition: .2s;
	text-transform: capitalize;
	text-decoration: none;
}

.header .navbar a{
	font-size: 100%;
}



.icons div {
	font-size: 2rem;
	margin-right: 1rem;
	color: white;
	display: none;
}

.icons a {
	color: white;
	background: #50C878;
	padding: 1.5rem 3rem;
	font-size: 1.5rem;
	border-radius: 10px;
	transition: 1s;
}

.icons a:hover {
	background: transparent;
	border: 1px solid var(--secclr);
}



.background-image {
	background: url('images/backimage.jpg');
	width: 50%;
	height: 50vh;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 6%;
	position: relative;
}

.background-content {
	position: absolute;
	top: 50%;
	left: 40%;
	width: 50%;
	transform: translate(-80%);
	margin-left: 60px;
	

.background-content h1 {
	color: black;
	font-size: 40px;
	margin-bottom: 20px;
}

.background-content p {
	font-size: 1.5rem;
	margin-bottom: 40px;
}

.background-content a {
	background: #50C878;
	padding: 1.5rem 3rem;
	border-radius: 15px;
	color: white;
	font-size: 1.5rem;
	transition: 0.5s;
}

.background-content a:hover {
	background: transparent;
	border: 1px solid var(--secclr);
	color: black;
}

.about {
	padding: 3rem 7%;
	background: var(--third);
}

.main-about {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	flex-wrap: wrap;
}

.inner-about {
	flex: 1 1 45rem;
}

.inner-about .inner-about-image iframe {
	width: 10%;
}

.about-content {
	width: 80%;
}

.about-content h1 {
	font-size: 40px;
	margin-bottom: 15px;
}

.about-content p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	margin-bottom: 30px;
}

.about-content a {
	background: #50C878;
	padding: 1rem 3rem;
	font-size: 1.5rem;
	color: white;
	transition: 0.5s;
}

.about-content a:hover {
	background: transparent;
	border: 1px solid var(--secclr);
	color: black;
}

.our-services {
	padding: 4rem 7%;
}

.service-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px;
}

.left-service-content {
	flex: 1 1 45rem;
}

.right-service-content {
	flex: 1 1 0rem;
}

.left-service-content h1 {
	font-size: 40px;
	margin-bottom: 15px;
}

.left-service-content p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
}

.right-service-content .right-btn a {
	padding: 1rem 3rem;
	font-size: 2rem;
	color: white;
	background: var(--secclr);
}

.right-service-content .right-btn a:hover {
	border: 1px solid var(--secclr);
	background: transparent;
	color: black;
}

.main-services {
	padding: 6rem 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
}

.inner-services-content {
	flex: 1 1 300px;
	padding: 2rem 1rem;
	text-align: center;
}

.inner-services-content h2 {
	font-size: 25px;
	margin-bottom: 10px;
}

.inner-services-content p {
	font-size: 1.5rem;
	font-family: Arial, Helvetica, sans-serif;
}

.service-icon i {
	font-size: 5rem;
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	text-align: center;
	line-height: 8rem;
	background: var(--mainfterclr);
	color: var(--mainclr);
	margin-bottom: 15px;
}

.service-icon i:hover {
	color: white;
	background: var(--mainclr);
}

.gallery {
	padding: 4rem 7%;
}

.gallery h1 {
	color: var(--mainclr);
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
}

.main-gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}

.inner-gallery {
	flex: 1 1 300px;
}

.inner-gallery img {
	width: 100%;
	transition: .3s;
}

.inner-gallery img:hover {
	transform: scale(1.1);
	border-radius: 20px;
}

.our-doctors {
	padding: 4rem 7%;
}

.our-doctors h1 {
	text-align: center;
	font-size: 40px;
	color: var(--mainclr);
	margin-bottom: 30px;
}

.main-doctor {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.ineer-docter {
	flex: 1 1 300px;
	position: relative;
}

.ineer-doctor img {
	width: 100%;
}

.doc-icons {
	position: absolute;
}

.doc-icons div {
	font-size: 2rem;
	color: var(--mainclr);
	background: white;
	border: 1px solid black;
	margin-left: 2rem;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
}

.why-choseus {
	padding: 4rem 7%;
}

.main-chose {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
}

.inner-chose {
	flex: 1 1 45rem;
}

.inner-chose img {
	width: 100%;
}

.inner-chose h1 {
	font-size: 40px;
	color: var(--mainclr);
}

.main-inner-chose {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0;
	font-family: Arial, Helvetica, sans-serif;
}

.chose-icon i {
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	background: white;
	color: var(--mainclr);
	font-size: 3rem;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.icon-content {
	padding: 0 4rem;
}

.icon-content p {
	font-size: 1.5rem;
	line-height: 1;
}

section {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;

}

footer {
	background: #343434;
	padding: 50px;
}

footer .container {
	width: 100%;
	max-width: 1140px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.footer-content {
	width: 33.3%;
	text-align: center;
	padding: 0 15px; 
	color: #ffffff;
}

h3 {
	font-size: 28px;
	margin-bottom: 15px;
}

.footer-content p {
	margin: 10px 0;
	padding: 7px;
}

.footer-content ul {
	list-style: none;
	padding: 0;
}

.footer-content ul li a {
	color: white;
	text-decoration: none;
}

.list li {
	width: auto;
	text-align: center;
	list-style-type: none;
	padding: 7px;
	position: relative;
	font-size: 20px;

}

.list li::before {
	content: '';
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 100%;
	width: 0;
	height: 4px;
	background: var(--secclr);
	transition-duration: .5s;
}

.list li:hover::before {
	width: 70px;
}

.social-icons {
	text-align: center;
	padding: 0;
}

.social-icons li {
	display: inline-block;
	text-align: center;
	padding: 5px;
}

.social-icons i {
	color: white;
	font-size: 25px;
}

.social-icons i:hover {
	color: var(--secclr);
	font-size: 25px;
}

a {
	text-decoration: #f18930;
}

.bottom-bar {
	background: var(--mainclr);
	text-align: center;
	padding: 10px 0;
	margin-top: 50px;
}

.bottom-bar p {
	color: #343434;
	margin: 0;
	font-size: 16px;
	padding: 7px;
}

.toggleContact.c-active::after {
	content: "";
	position: fixed;
	top: 5%;
	right: 5%;
	background-image: url(/images/dentalpic/backgrounddental.avif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	width: 20px;
	height: 20px;
	z-index: 10;
}

.contactMenu {
	position: absolute;
	inset: 0;
	margin: auto;
	min-height: 0;
	opacity: 0;
	background: rgba(0, 0, 0, 0.3);
	padding: 4em 0;
	transform: scale(0);
}

.contactMenu.c-active {
	position: fixed;
	min-height: 100vh;
	opacity: 1;
	transform: scale(1);
}

.contactMenu-content {
	background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0.71) 44.4%, rgba(255, 255, 255, 0) 60.46%), url(/images/dentalpic/backgrounddental.avif);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	padding: 2em;
	box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
	overflow-y: scroll;
	border-radius: 20px;
}













@media (max-width: 767px) 
{
	.navbar 
	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		background: var(--secclr);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}

	.navbar a 
	{
		display: block;
		font-size: 3rem;
		font-weight: bold; /* "bolder" should be "bold" */
		margin: 2rem;
		padding: 1rem;
		color: black;
	}

	.background-content 
	{
		position: relative; /* Add position: relative; */
		width: 100%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		padding-left: 5rem;
	}

	.inner-about .inner-about-image img 
	{
		margin-top: 20px;
	}
}
}